.container {
  width: 60%;
  background-color: lightgray;
  margin: 1.3rem auto;
  border-radius: 10px;
  padding: 1rem;
  border-style: inset;
  box-shadow: 4px 4px 7px rgb(54, 50, 50);
}
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.7rem;
  justify-content: space-around;
  color: darkgreen;
  border-bottom: 2px solid rgb(46, 44, 44);
}
.top .heading {
  color: #111454;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.bottom .div1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.3rem;
  justify-content: space-between;
}
.btn {
  background-color: #131438;
  border: none;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0.7rem 3rem;
  border-radius: 7px;
  box-shadow: 4px 4px 10px gray;
}
.btn:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #131438;
  color: #131438;
}
/* .styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.design {
  width: 100px;
  height: 100px;
  background-color: #131438;
  border-radius: 50%;
} */
