.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: lightgray; */
}
.left,
.right {
  width: 50%;
  height: fit-content;
}

.left .curve {
  width: 650px;
  height: 500px;
  border-bottom-right-radius: 100%;
  box-shadow: 5px 5px 20px rgb(47, 45, 45);
  /* background-color: #fff7e9; */
  background: linear-gradient(to left, #bcd3c7, #2c3e50);
}
.textBox1 {
  width: 600px;
  font-weight: bold;
  height: fit-content;
  margin-top: 4rem;
  margin-left: 7rem;
  display: inline-block;
  background-color: #76b315;
  color: rgb(45, 1, 1);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 5px 5px 10px rgb(73, 64, 64);
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
}

.textBox1 p {
  text-align: justify;
  font-size: 1rem;
  width: 70%;
  font-weight: lighter;
  color: rgb(31, 31, 97);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 2.5rem;
}

.form {
  margin: 3rem auto;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  background-color: #141528;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;

  border: 2px solid gray;
  box-shadow: 5px 5px 5px gray;
}
.form {
  margin-bottom: 0%;
}
.form .div label {
  font-size: 1.4rem;
  display: block;
  color: white;
  opacity: 0.9;
}
.form .div {
  padding: 1rem;
}
.form .div input {
  font-size: 1.2rem;
  margin: 10px 0%;
  padding: 0.4rem;
  width: 20rem;
  border-radius: 5px;
  border: 2px solid rgb(35, 32, 32);
}

.right button {
  font-size: 1.5rem;
  height: 50px;
  width: 200px;
  background-color: #141528;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
}

.right button:hover {
  border: none;
  background-color: #1746a2;
  cursor: pointer;
}
.ul {
  background-color: lightgray;
  list-style: none;
  position: absolute;
  z-index: 1000;
  padding: 0%;
  color: #1e2267;
  width: 22.3%;
  font-size: 1.2rem;
  /* margin-left: 0.2rem; */
  margin-top: -0.6rem;
  border-radius: 2px;
}
.li {
  display: block;
  padding: 0.2rem 0%;
  width: 100%;
}
.ul .li:hover {
  background-color: #1746a2;
  color: white;
  cursor: pointer;
}
