.nav {
  width: 100%;
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #202244;
  background-color: #141528;
  flex-direction: row;
  color: rgb(255, 255, 255);
  justify-content: space-evenly;
  align-items: baseline;
}
.leftNav {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  margin: 1rem 2.5rem;
  opacity: 0.9;
}

.ul {
  list-style: none;
  margin: 0%;
  display: flex;
  opacity: 0.8;
}

.ul li {
  font-size: 20px;
  padding: 0 1.4rem;
  font-family: serif;
}

.ul li:hover {
  cursor: pointer;
}
.rightNav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.search {
  font-size: 30px;
  opacity: 0.7;
  width: 5rem;
  height: 26px;
  border: 1px white;
  color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  padding: 0 1.5rem;
  text-align: center;
  border-radius: 20px;
  background-color: gray;
}

.notification {
  opacity: 0.9;
  width: 40px;
  padding: 0 1.5rem;
  height: 40px;
}
