.body {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.error {
  color: rgb(200, 3, 3);
  margin: 0%;
  padding: 0%;
  position: absolute;
}
.div1 {
  width: 50%;
  height: 100vh;
  background: linear-gradient(to left, #ffffff, #9fc8d3);
}
.div2 {
  width: 50%;
  height: 100vh;
  background-image: url("/form3.png");
  background-size: cover;
}
.formSwitch {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
}
.formSwitch div {
  margin-top: 1rem;
}
.form {
  padding: 2rem 0.2rem;
  width: 60%;
  margin: 13% auto;
  height: fit-content;
  background: linear-gradient(to top, skyblue, rgb(226, 174, 78));
  border: 0.5px solid rgb(69, 67, 67);
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}
.formSwitch .left {
  width: 50%;
  padding: 0.5rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0.5px solid rgb(91, 87, 87);
}
.formSwitch .right {
  padding: 0.5rem;
  width: 50%;
  border-top-right-radius: 3px;
  border: 1px solid rgb(91, 87, 87);
  border-bottom-right-radius: 3px;
}

.inputFeilds div {
  width: 70%;
  margin: 1.5rem auto;
}
.inputFeilds div input {
  border-radius: 5px;
  width: 90%;
  border: 1px solid gray;
  font-size: 1.1rem;
  padding: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form button {
  display: flex;
  border: none;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 0.5rem 4rem;
  color: white;
  box-shadow: 2px 2px 4px rgb(87, 81, 81);
  background-color: #044e62;
}
.formSwitch .left:hover,
.formSwitch .right:hover,
.form button:hover {
  cursor: pointer;
}
.form button:hover {
  background-color: #013240;
}
.EyeDiv {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.EyeSpan {
  margin-left: -2rem;
  margin-top: 0.8rem;
}

.EyeSpan:hover {
  cursor: pointer;
}
.activate {
  background-color: #044e62;

  color: white;
  box-shadow: 1px 1px 4px rgb(43, 40, 40);
}
